/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.large {
  display: inline-block;
  width: 66%;
}

.medium {
  display: inline-block;
  width: 33%;
}

.small {
  display: inline-block;
  width: 33%;
  margin-top: 10px;
}

section .small .shadow #skaters {
  margin-left: 20px;
  margin-right: 20px;
}

#details .wrapper div {
  display: inline-block;
  width: 33%;
}


